<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tian.sharebox">

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="W8NkUnXuCacS3xPXmfMOxl4PS5DAO3fp"/>

        <activity
            android:name=".func.funcMap.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".func.funcScan.ScanActivity"
            android:label="@string/scan_qrcode"
            android:launchMode="singleTask"
            android:noHistory="true"/>
        <activity
            android:name=".func.funcScan.InputCodeActivity"
            android:label="@string/input_qrcode_unlock"
            android:launchMode="singleTask"/>
        <activity
            android:name=".func.funcUser.UserCenterActivity"
            android:label="@string/user_center"/>
        <activity
            android:name=".func.funcOrder.OrderActivity"
            android:label="@string/my_borrow_title"/>
        <activity
            android:name=".func.funcBorrow.BorrowActivity"
            android:label="@string/borrow"/>
        <activity
            android:name=".func.funcMessage.MessageActivity"
            android:label="@string/my_message_title"/>
        <activity
            android:name=".func.funcSetting.SettingActivity"
            android:label="@string/settings_title"/>
        <activity android:name=".func.funcMessage.MessageDetailActivity"/>
        <activity
            android:name=".func.funcLogin.LoginActivity"
            android:label="@string/title_activity_login"/>
        <activity
            android:name=".func.funcDetailBox.BoxDetailActivity"
            android:label="@string/title_activity_box_detail"/>
        <activity
            android:name=".func.funcDetailOrder.DetailOrderActivity"
            android:label="@string/title_activity_order_detail"/>
        <activity
            android:name=".func.funcRegister.RegisterActivity"
            android:label="@string/register"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

    </application>

</manifest>